In [1]:
import pandas as pd

In [ ]:
import numpy as np

# Series
series 는 pandas의 1차원 데이터타입을 말합니다.

In [4]:
series = pd.Series([1, 3, 5, np.nan, 7, 9])
series

0    1.0
1    3.0
2    5.0
3    NaN
4    7.0
5    9.0
dtype: float64

In [6]:
series[series<5]

0    1.0
1    3.0
dtype: float64

# DataFrame
DataFrame 은 pandas 의 2차원 데이터타입을 말합니다.

In [7]:
data = {'Name' : 'Seoyoon',
        'Age' : 25,
        'Height' : 180.2,
        'Weight' : 60.8,
        'Job' : 'Student'}
data

{'Name': 'Seoyoon',
 'Age': 25,
 'Height': 180.2,
 'Weight': 60.8,
 'Job': 'Student'}

In [10]:
columns = ['Name', 'Age', 'Height', 'Weight', 'Job']

In [13]:
# index는 임의로 0으로 두었다.
df = [pd.DataFrame(data = data, index = [0], columns = columns)]
df

[      Name  Age  Height  Weight      Job
 0  Seoyoon   25   180.2    60.8  Student]

In [14]:
multi_data = {'Name' : ['Seoyoon', 'Hyunmin'],
        'Age' : [25, 26],
        'Height' : [180.2, 168.7],
        'Weight' : [60.8, 54.3],
        'Job' : ['Student', 'Job seeker']}
multi_data

{'Name': ['Seoyoon', 'Hyunmin'],
 'Age': [25, 26],
 'Height': [180.2, 168.7],
 'Weight': [60.8, 54.3],
 'Job': ['Student', 'Job seeker']}

In [19]:
# index는 임의로 0으로 두었다.
multi_df = [pd.DataFrame(data = multi_data, index = range(0,2), columns = columns)]
multi_df

[      Name  Age  Height  Weight         Job
 0  Seoyoon   25   180.2    60.8     Student
 1  Hyunmin   26   168.7    54.3  Job seeker]

In [20]:
csv_path = 'wine_dataset.csv'

In [21]:
import os

In [26]:
os.listdir("sample") # ls 명령어 (path)

['bigstock-Group-Of-Animals-34563776.jpg',
 'nums_keywords.xlsx',
 'Relevant keywords 20190212 2313.xlsx',
 'resume template.docx',
 'resume template.hwp',
 'resume template.pdf',
 't1.daumcdn.png',
 'tiger.jpg',
 'wine_dataset.csv',
 '「인공지능 업무자동화교육」 참가신청서.docx',
 '「인공지능 업무자동화교육」 참가신청서.hwp',
 '「인공지능 업무자동화교육」 참가신청서.pdf']